/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #000;
    --main-color: #8257e5;
    --main-color-second: #fff;
    --color-shadown: #000;
}

body {
    background-color: var(--bg-color);
    color: var(--main-color-second);
    font-family: 'Manrope', sans-serif;
}

.container {
    max-width: 918px;
    margin: 0 auto;
}

h1 {
    font-size: 5rem;
}

button {
    color: var(--main-color-second);
    background-color: transparent;
    padding: 0.625rem 1.875rem;
    border: 1px solid var(--main-color);
    border-radius: 0.25rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.69rem;
    transition: all 0.4s linear;
}

button:hover {
    background-color: var(--main-color);
    transition: all 0.4s linear;
}

/* Header */

header {
    height: 50px;
    position: sticky;
    top: 30px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo {
    width: 170px;
    text-align: center;
}
nav ul {
    list-style: none;
    display: inline-flex;
}
nav ul a {
    font-size: 0.875rem;
    color: var(--main-color-second);
    text-decoration: none;
    margin: 0 1.25rem;
}

/* Content Area */

.banner--area {
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner--area::before {
    content: "";
    width: 300px;
    height: 300px;
    background-color: var(--main-color);
    filter: blur(150px);
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.banner--area::after {
    content: "";
    width: 300px;
    height: 300px;
    background-color: var(--main-color);
    filter: blur(150px);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    min-height: inherit;
}
.content .great-code {
    color: transparent;
    /*-webkit-text-stroke: 2px rgb(130, 87, 229);
    font-family: sans-serif;*/
    text-shadow: -1px -1px 0 var(--color-shadown),
        -2px -2px 0px var(--main-color),
        -1px 1px 0 var(--main-color),
        0px -2px 0 var(--main-color);
}
.content img {
    width: 800px;
    position: relative;
    bottom: 0;
}

/* Responsive */

@media (max-width: 1024px) {
    h1 {
        font-size: 4.5rem;
    }
    .content img {
        width: 650px;
    }
}

@media (max-width: 960px) {
    .container {
        padding: 0 1.5rem;
    }
    nav .logo {
        width: auto;
        text-align: left;
    }
    nav .menu {
        opacity: 0;
        visibility: hidden;
    }
    nav.show .menu {
        opacity: 1;
        visibility: visible;

        background-color: var(--bg-color);
        height: 100vh;
        width: 100vw;
    }
    nav button {
        display: none;
    }
    .content img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }
    .banner--area::before {
        display: none;
    }
    .banner--area::after {
        left: auto;
        bottom: -100px;
        filter: blur(250px);
    }
}