* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Manrope', sans-serif;
}

.container {
    max-width: 57.375rem;
    margin: 0 auto;
}

/* ===== GENERAL */

button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #8257E5;
    border-radius: 0.25rem;
    padding: 0.625rem 1.875rem;
}

h1 {
    font-size: 5rem;
}

/* ====== HEADER */

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li a {
    padding: 0 0.75rem;
    text-decoration: none;
    color: #fff;
}

/* ===== SECTION */

section {
    height: 100vh;
    text-align: center;
}

.great-code {
    color: transparent;
    text-shadow: -1px -1px 0 #000,
        -2px -2px 0px #8257e5,
        -1px 1px 0 #8257e5,
        0px -2px 0 #8257e5;
}